#projects{
  color: $dark-blue-text;
  margin-left: 5rem;
  margin-right: 5rem;
  @include respond(tab-land) {
      margin-top: 0;
      padding-top: 2rem;
  }
  @include respond(phone) {
      margin-top: 0;
      padding-top: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
  }
  &-title {
      font-weight: bold;
      margin-bottom: 1.8rem;
      font-size: $mid-font-size;

      @include respond(phone) {
        font-size: 2rem;
      }
    }

.item{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 4em;
color: white;
padding-bottom: 7rem;

@include respond(tab-land) {
  grid-template-columns: repeat(1, 1fr);
  padding-bottom: 1rem;
}
@include respond(phone) {
  grid-template-columns: repeat(1, 1fr);
  padding-bottom: 1rem;
}
}
.item-con{
  width: 100%;
  padding: 1.8rem 1.7rem;
  background-color: rgb(24, 24, 24);
  margin-bottom: 2rem;
}
.item-container{
  overflow: hidden;
}

.item-container > .img {
  width: 100%;
  transition: all .3s ease-in-out;
  
  @include respond(tab-land) {
      width: 100%;
      margin: 0;
    }
    @include respond(phone) {
      width: 100%;
      margin: 0;
    }
}

.item-container > .img >.img-gif{
  width: 100%;
}
.item-container > .img:hover {
  transform: scale(1.1);
}

.item-text{
  text-align: left;
  padding-top: 2rem;

  @include respond(phone) {
    margin-bottom: 1.5rem !important;
  }
  @include respond(tab-land) {
    margin-bottom: 4rem;
  }
}
.item-text > p{
  @include respond(phone) {
    font-size: smaller;
  }
  @include respond(tab-land) {
      font-size: small;
  }
}

.item_text-title{
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  font-size: $mid-font-size;

  @include respond(phone) {
   font-size: 1.8rem;
  }
}

.links{
  padding-bottom: 2rem;
}
}